# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Secrets
.env

# Streamlit cache/state (local)
.streamlit/**.yaml
.streamlit/**.json
**/.streamlit/**

# Allow theme config
!.streamlit/
!.streamlit/config.toml
